
<!-- MENU DE LA VISTA HOME CON NG-CLICK PARA IR A LAS VISTAS CORRESPONDIENTES -->
<div class="well center-block" style="max-width: 400px;">
	<button type="button" ng-click="toClientes()" class="btn btn-primary btn-lg btn-block"> 
		<i class="fa fa-users"></i> 
		Clientes
	</button>
	<button ng-click="toProductos()" type="button" class="btn btn-primary btn-lg btn-block">
		<i class="fa fa-list"></i> 
		 Productos
	</button>
	<button ng-click="toPromociones()" type="button" class="btn btn-primary btn-lg btn-block">
		<i class="fa fa-newspaper-o"></i> 
		 Promociones
	</button>
	<button ng-click="toRoom()" type="button" class="btn btn-primary btn-lg btn-block">
		<i class="fa fa-shopping-cart"></i> 
		Room Service
	</button>
</div>