<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">
        <i class="fa fa-list"></i>
        <p>Lista de Productos</p>
        <p>{{ auxiliar }} </p>
    </div>

    <!--FORMULARIO PARA AGREGAR PRODUCTOS-->
    <form ng-submit="agregarSubmit()" ng-show="agregarFormShow" class="form-inline">
        <input class="form-control" type="text" ng-model="nombreProducto" placeholder="Nombre Producto" />
        <input class="form-control" type="text" ng-model="codigoProducto" placeholder="Código del producto" />
        <input class="form-control" type="text" ng-model="descripcion" placeholder="descripcion" />
        <input class="form-control" type="text" ng-model="disponibles" placeholder="disponibles" />
        <input class="form-control" type="text" ng-model="precio" placeholder="precio" />
        <input class="form-control" type="text" ng-model="imagen" placeholder="Imagen Producto" />
        <input type="submit" value="Agregar Producto" class="btn btn-default btn-success" />
    </form>

    <!--FORMULARIO PARA EDITAR PRODUCTOS-->
    <form ng-submit="editFormSubmit()" ng-show="editFormShow" class="form-inline">
        <input class="form-control" type="text" ng-model="nombreProducto" placeholder="Nombre Producto" />
        <input class="form-control" type="text" ng-model="codigoProducto" placeholder="Código del producto" />
        <input class="form-control" type="text" ng-model="descripcion" placeholder="descripcion" />
        <input class="form-control" type="text" ng-model="disponibles" placeholder="disponibles" />
        <input class="form-control" type="text" ng-model="precio" placeholder="precio" />
        <input class="form-control" type="text" ng-model="imagen"  placeholder="Imagen Producto" />
        <input type="submit" value="Editar Producto" class="btn btn-default btn-warning" />
    </form>

    <div class="panel panel-body">
        <table class="table">
            <thead>
                <tr>
                    <td>Producto</td>
                    <td>Código del producto</td>
                    <td>Descripción</td>
                    <td>Disponibles</td>
                    <td>Precio</td>
                    <td>Imagen</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="producto in productos">
                    <td>{{ producto.nombreProducto}}</td>
                    <td>{{ producto.codigoProducto}}</td>
                    <td>{{ producto.descripcion}}</td>
                    <td>{{ producto.disponibles}}</td>
                    <td>{{ producto.precio | currency }}</td>
                    <td><img src="{{producto.imagen}}" style="height: 50px;">
                    <td>
                        <button class="btn btn-primary" ng-click="verProducto(producto)" >Editar</button>&nbsp;
                        <button class="btn btn-danger" ng-click="eliminarProducto(producto)" >Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-success" ng-click="verForm()" ng-hide="agregarFormShow">+ Agregar</button>
        <button class="btn btn-warning" ng-click="ocultarForm()" ng-show="agregarFormShow">- Cancelar</button>
    </div>
</div>
