<div class="panel panel-primary">
	<div class="panel-heading" style="font-size:large">
		<i class="fa fa-newspaper"></i> 
		Promociones a ofertar en la App Móvil
	</div>

	<!-- FORMULARIO PARA PROMOCIONES -->

	<form ng-submit="agregarSubmit()" ng-show="agregarFormShow" class="form-inline">
		<input class="form-control" type="text" ng-model="tituloOferta" placeholder="Titulo de la oferta" />
        <input class="form-control" type="text" ng-model="subTitulo" placeholder="Subtitulo de la oferta" />
        <input class="form-control" type="text" ng-model="descripcion" placeholder="Descripcion de la oferta" />
        <input class="form-control" type="text" ng-model="tope" placeholder="Fecha tope" />
        <input class="form-control" type="text" ng-model="precio" placeholder="precio" />
        <input class="form-control" type="file" ng-model="imagen" multiple="false"  placeholder="Imagen Producto" />
		<input type="submit" value="Agregar Promoción" class="btn btn-default btn-success" />
	</form>
	
	<!-- FORMULARIO PARA EDITAR PROMOCIONES -->
	<form ng-submit="editFormSubmit()" ng-show="editFormShow" class="form-inline">
		<input class="form-control" type="text" ng-model="tituloOferta" placeholder="Titulo de la oferta" />
        <input class="form-control" type="text" ng-model="subTitulo" placeholder="Subtitulo de la oferta" />
        <input class="form-control" type="text" ng-model="descripcion" placeholder="Descripcion de la oferta" />
        <input class="form-control" type="text" ng-model="tope" placeholder="Fecha tope" />
        <input class="form-control" type="text" ng-model="precio" placeholder="precio" />
        <input class="form-control" type="file" ng-model="imagen" multiple="false"  placeholder="Imagen Producto" />
		<input type="submit" value="Editar cliente" class="btn btn-default btn-warning" />
	</form>

	<!---TABLA PARA PRESENTAR LAS PROMOCIONES EXISTENTES -->
	<div class="panel panel-body">
		<div class="col-md-6">
			<label>
				<i class="fa fa-search"></i> 
				Filtra tu búsqueda: </label>
			<input class="form-control" type="search" ng-model="buscador" />
		</div>
		<table class="table">
			<thead>
				<tr>
					<td>Titulo</td>
					<td>Subtitulo</td>
					<td>Descripción</td>
					<td>Fecha tope</td>
					<td>Precio</td>
					<td>Imagen</td>
					<td>Acciones</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="promocion in promociones|filter:buscador">
					<td>{{ promocion.tituloOferta}}</td>
					<td>{{ promocion.subTitulo}}</td>
					<td>{{ promocion.descripcion}}</td>
					<td>{{ promocion.tope}}</td>
					<td>{{ promocion.precio}}</td>
					<td>{{ promocion.imagen}}</td>
					<td>
						<button class="btn btn-primary" ng-click="verPromocion(promocion)" >Editar</button>
						<button class="btn btn-danger" ng-click="eliminarPromocion(promocion)" >Eliminar</button>
					</td>
				</tr>
			</tbody>
		</table>

		<!-- BOTONES PARA MOSTRAR O CULTAR FORMULARIOS -->
		<button class="btn btn-success" ng-click="verForm()" ng-hide="agregarFormShow">+</button>
		<button class="btn btn-warning" ng-click="ocultarForm()" ng-show="agregarFormShow">-</button>
	</div>
</div>